canvas{	
	align-items: center;
	background-color: white;

}

header{
	border: 3px solid #E05B3D;
	text-align: center;
	background-color: #E06D53;
	color: white;
	font-family: monospace;
}
body{
	background-color: #E0D669;
}

.parte_der{
	right: 260px;
	position: absolute;

}

.parte_abajo{
	right: 40px;
	position: absolute;
	top: 550px;
}
footer{
	left: 10px;
	top: 550px;
	position: absolute;
	color: black;
}
.a{
	position: absolute;
}
.b{
	top: 200px;
	right: 40px;
	position: absolute;
}